body {
	padding : 0 5% 0 5%;
	background-color: LightBlue;
	color: GhostWhite;
	font-family: 'dayrom', Helvetica, sans-serif;
}
@font-face {
	font-family: 'dayrom';
	src: 
			url(./polices/dayrom.woff) format(woff);
			url(./polices/dayrom.svg) format(svg);
			url(./polices/dayrom.ttf) format(ttf);
			url(./polices/dayrom.eot) format(eot);
	font-weight:normal;
   font-style:normal;
   font-variant:normal;
}

h1, h2,h3 {
	color: Blue;
	text-align: center;
	text-decoration:  overline;
	
}
strong {
	color: Red;
	font-style: italic;
}

/**********Header**********/
header {
	background-image: url(./images/lys.jpg);
	height: 200px;
	margin: -10px 0 20px; 0;
}


/**********MAIN**********/
main {
	display: grid;
	grid-template-columns : 65% 35%;
	text-align: justify;
}

/***article***/
article{
	border-radius: 2%;
	border : 2px solid White;
	margin-right: 5%;
	box-shadow: 10px -5px teal;
}

article img {
	max-height: 122px;
	max-width: 97px;
	width: 100%;
	height:100%;
}

table {
	border-collapse: collapse;
	caption-side: top;
}

th {
	text-align: center;
	color: Black;
	font-weight: bold;
}

td {
	border: solid 1px black;

}
.shadow {
	box-shadow: 0 -5px Red;
}
/***aside***/
aside {
	border-radius: 2%;
	border : 2px solid White;
	
}
.the_sun_king img {
	float: left;
	margin : 2px 20px 0 0;
}
.stop {
	clear: both;
}
aside img {
	max-height: 250px;
}
aside h2, aside p {
	margin : 0 3% 0 3%;
}
aside h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}
/**********FOOTER**********/
footer{
	display: grid;
	grid-template-columns : 55% 45%;
	background-color:Black; 
	padding: 1% 1% 1% 1%;
	margin : 1% 0 0 0;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}
.my_form {
	display: flex;
	flex-flow : column nowrap;
}
.name, .surname, .email, .button {
	display: grid;
	grid-template-columns : 25% 75%;
}
input {
	margin : 0 25% 0 0;
}
.social_media {
	text-align: center;
}
.follow {
	margin: 6% 3% 3% 3%;
	display: flex;
	flex-flow : row nowrap; 
	justify-content :space-evenly;
}
.button {
	margin: 0 5% 0 0;
}
button:hover {
	color: White;
	background-color: Red;
	border-radius: 5%;
}
/*
flex-direction row;
	flex-wrap : nowrap;
	*/
	
/***Nav div for my projects***/
.projects {
	color: black;
	background-color:  #f2581e;
	width: 200px;
	height: auto;
	display:flex;
	flex-flow : row nowrap;
	margin : auto;
	justify-content : space-between;
	padding: 0 5px 0 5px;
	text-decoration: none;
	box-shadow: 1px 1px #0d0400;
}
.projects:hover{
	box-shadow: -1px -1px #0d0400;
}
.projects a:hover{
	text-decoration: underline;
}
.projects a {
	text-align: center;
	text-decoration: none;
}
.projects a p{
	color: white;
}